.navegate-bar {
  background-color: khaki;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-white);
  padding: 0.4rem;
  margin: 5px;
}

.logo {
  margin-left: 2rem;
  color: var(--foreground);
  font-size: 3rem;
  letter-spacing: 3px;
  font-family: "Poppins", sans-serif;
  border-radius: 35%;
}

.todo {
  color: #450b45;
  font-size: 5rem;
}

.navbar-container {
  display: flex;
  gap: 2rem;
  margin: 2rem;
  color: var(--foreground);
}

.navbar-content {
  list-style: none;
}

.items-menu {
  color: var(--foreground);
  background-color: rgb(255, 255, 255);
  padding: 0.5rem;
  border-radius: 45%;
}

.items-menu:hover {
  transition: all 300ms;
  background-color: rgb(237, 235, 235);
  color: rgb(60, 10, 60);
}
