#to-do {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 1.5rem;
  border-radius: 8px;
  width: 33rem;
}

#to-do h3 {
  color: var(--foreground);
  font-size: 2rem;
  text-transform: uppercase;
}

.to-do-form {
  display: flex;
  width: 100%;
}

.to-do-form input {
  background-color: transparent;
  border: none;
  color: rgb(1, 1, 1);
  font-size: 1.3rem;
  width: 100%;
  padding: 4px;
  border-bottom: 2px solid var(--foreground);
}

.to-do-form input:focus-visible {
  outline: none;
}

.to-do-form .form-button {
  border: none;
  min-width: 40px;
  min-height: 40px;
  color: white;
  background-color: var(--foreground);
  border-radius: 100%;
  font-size: 1rem;
  transition: scale 0.5s ease;
}

.to-do-form .form-button:hover {
  cursor: pointer;
  scale: 1.05;
}

#tasks {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-height: 400px;
  overflow: auto;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--foreground);
  padding: 8px 12px;
  border-radius: 4px;
}

.task .progress {
  margin-right: 10px;
}

.task .task-description {
  font-size: 16px;
  color: #450b45;
  padding: 4px 0px;
  width: 100%;
}

.task .task-actions {
  display: flex;
  gap: 10px;
}

.action-button {
  font-size: 1.6rem;
}

.action-button.edit-button {
  color: var(--foreground);
}

.action-button.delete-button {
  color: rgb(234, 16, 114);
}
.hidden {
  display: none;
}
